<header class="cabecalho container">
  <h1 class="cabecalho-logo">
    Ceep
  </h1>
  <div class="opcoesDaPagina">
    <input type="search" placeholder="busca" id="busca" class="opcoesDaPagina-opcao">
    <button id="btnMudaLayout" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
      Linhas
    </button>
    <button id="btnAjuda" class="opcoesDaPagina-opcao opcoesDaPagina-botao">
      ?
    </button>
    <button id="btnSync" class="opcoesDaPagina-opcao opcoesDaPagina-botao botaoSync botaoSync--sincronizado">
      <svg class="botaoSync-icone">
        <use xlink:href="#iconeSincronizar"></use>
      </svg>
    </button>
  </div>
</header>