<link rel="stylesheet" href="././assets/css/reset.css">
<link rel="stylesheet" href="././assets/css/container.css">
<link rel="stylesheet" href="././assets/css/opcoesDaPagina.css">
<link rel="stylesheet" href="././assets/css/opcoesDoCartao.css">
<link rel="stylesheet" href="././assets/css/botaoSync.css">
<link rel="stylesheet" href="././assets/css/mural.css">
<link rel="stylesheet" href="././assets/css/cabecalho.css">
<link rel="stylesheet" href="././assets/css/cartao.css">
<link rel="stylesheet" href="././assets/css/formNovoCartao.css">

<cabecalho></cabecalho>

<form-novo-cartao></form-novo-cartao>

<mural></mural>