<link rel="stylesheet" href="./assets/css/reset.css">
<link rel="stylesheet" href="./assets/css/container.css">
<link rel="stylesheet" href="./assets/css/opcoesDaPagina.css">
<link rel="stylesheet" href="./assets/css/opcoesDoCartao.css">
<link rel="stylesheet" href="./assets/css/botaoSync.css">
<link rel="stylesheet" href="./assets/css/mural.css">
<link rel="stylesheet" href="./assets/css/cabecalho.css">
<link rel="stylesheet" href="./assets/css/cartao.css">
<link rel="stylesheet" href="./assets/css/formNovoCartao.css">
<header class="cabecalho container">
  <h1 class="cabecalho-logo">
    Ceep
  </h1>
  <div class="opcoesDaPagina">
    <input type="search" placeholder="busca" id="busca" class="opcoesDaPagina-opcao no-js">
    <button id="btnMudaLayout" class="opcoesDaPagina-opcao opcoesDaPagina-botao no-js">
      Linhas
    </button>
    <button id="btnAjuda" class="opcoesDaPagina-opcao opcoesDaPagina-botao no-js">
      ?
    </button>
    <button id="btnSync" class="opcoesDaPagina-opcao opcoesDaPagina-botao botaoSync botaoSync--sincronizado no-js">
      <svg class="botaoSync-icone">
        <use xlink:href="#iconeSincronizar"></use>
      </svg>
    </button>
  </div>
</header>

<form class="formNovoCartao container no-js">
  <textarea class="formNovoCartao-conteudo" name="formNovoCartao-conteudo" placeholder="Digite aqui"></textarea>
    
  <input class="formNovoCartao-salvar" type="submit" value="Salvar">
</form>

<section class="container mural" style="font-size: 1.3rem;">
</section>